.remove-default-btn {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.edit-color {
	color: #333;
}

.post-link {
	text-decoration: none;
}

.post-text {
	padding-top: 0.5rem;
}

.post-img {
	float: left;
	margin-right: 1rem;
}

.child-comment {
	margin-left: 2rem;
}