{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">Back to Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <img src="{{ profile.picture.url }}" class="rounded-circle" width="100" height="100" />
            {% if profile.name %}
            <h3 class="py-4">{{ profile.name }}
                <span>
                    {% if request.user == user %}
                        <a href="{% url 'profile-edit' profile.pk %}" style="color: #333"><i class="far fa-edit"></i></a>
                    {% endif %}
                </span>
                {% else %}
                <h3 class="py-4">{{ user.username }}
                    <span>
                        {% if request.user == user %}
                            <a href="{% url 'profile-edit' profile.pk %}" style="color: #333"><i class="far fa-edit"></i></a>
                        {% endif %}
                    </span>
                </h3>
                {% endif %}
            </h3>

            {% if profile.location %}
            <p>{{ profile.location }}</p>
            {% endif %}

            {% if profile.birth_date %}
            <p>{{ profile.birth_date }}</p>
            {% endif %}

            {% if profile.bio %}
            <p>{{ profile.bio }}</p>
            {% endif %}

            <div class="mb-3">
                <p>Followers: {{ number_of_followers }}</p>
                {% if user == request.user %}
                {% else %}
                {% if is_following %}
                <form method="POST" action="{% url 'remove-follower' profile.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger" type="submit">Unfollow</button>
                </form>
                {% else %}
                <form method="POST" action="{% url 'add-follower' profile.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-success" type="submit">Follow</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    {% for post in posts %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 border-bottom">
            <p><a style="text-decoration: none" class="text-primary" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> {{ post.created_on }}</p>
            <div class="position-relative">
                <p>{{ post.body }}</p>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}